@use "functions" as *;
@use "breakpoints" as *;

// Colors
$turquoise-blue: #66e2dc;
$brightOrange: #fa7453;
$mutedOrange: #ffb964;
$whitePalePinkish: #fcfaf9;
$deepNavyBlue: #191826;

// Fonts
$ff-sans: "IBM Plex Sans", sans-serif;
